<ion-header>
  <ion-navbar color="blue">
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce class="body">
  <div class="body-div">
    <span class="title">Username</span>
    <input type="text" class="name-input" placeholder="Enter your name">
    <button type="button" class="join-btn">Join</button>
  </div>
</ion-content>
