page-join-canvas {
  .body {
    background-color: color($colors, blue);
  }
  .title {
    font-size: 4rem;
    color: white;
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px gray;
  }
  .body-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name-input {
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    width: 80vw;
    padding: 1rem;
    text-align: center;
    color: color($colors, black);
  }
  .join-btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 80vw;
    background-color: color($colors, yellow);
    color: white;
    font-size: 2.5rem;
    text-shadow: 1px 1px gray;
    font-weight: bold;
    border-radius: 1rem;
    &:active {
      background-color: darken(color($colors, yellow), 2%);
    }
  }
}
