<ion-grid no-padding>
  <ion-row class="input-row">
    <ion-col>
      <input [(ngModel)]="account" class="my-input" type="text" placeholder="Account">
    </ion-col>
  </ion-row>
  <ion-row class="input-row">
    <ion-col>
      <input [(ngModel)]="password" class="my-input" type="password" placeholder="Password">
    </ion-col>
  </ion-row>
  <ion-row class="input-row">
    <button type="button" class="login-btn" (click)="login()">Login</button>
  </ion-row>
  <ion-row>
    <div class="or">or</div>
  </ion-row>
  <ion-row class="input-row">
    <button type="button" class="create-btn" (click)="signup()">Sign Up</button>
  </ion-row>
</ion-grid>
