page-login {
  $radius: 1rem;
  $line-height: 5rem;
  $font-size: 2rem;
  .input-row {
    padding-top: $line-height / 3;
    padding-left: $line-height / 3;
    padding-right: $line-height / 3;
  }
  .my-input {
    border: none;
    height: $line-height;
    width: 100%;
    font-size: $font-size;
    border-radius: $radius;
    text-align: center;
    font-family: sans-serif;
    color: color($colors, black);
  }
  .create-btn {
    background-color: color($colors, green);
    height: $line-height;
    width: 100%;
    border-radius: $radius;
    font-size: $font-size;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px gray;
    &:active {
      background-color: darken(color($colors, green), 2%);
    }
  }
  .login-btn {
    background-color: color($colors, yellow);
    width: 100%;
    height: $line-height;
    color: white;
    font-size: $font-size;
    text-shadow: 1px 1px gray;
    font-weight: bold;
    border-radius: $radius;
    &:active {
      background-color: darken(color($colors, yellow), 2%);
    }
  }
  .or {
    padding-top: $line-height / 3;
    color: white;
    width: 100%;
    font-size: $font-size;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px gray;
  }
}
