page-create-canvas {
  text-align: center;
  font-weight: 500;
  .body {
    background-color: color($colors, blue);
  }
  .title {
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px gray;
  }
  .body-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .id-container {
    margin-top: 1rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
    width: 80vw;
    overflow: hidden;
    display: flex;
    font-size: 3rem;
    color: color($colors, black);
  }
  .canvas-id {
    flex: 1;
    text-align: center;
    padding: 1rem;
    user-select: text;
  }
  .copy-btn {
    padding: 1rem;
    &:active {
      color: lighten(color($colors, black), 50%);
    }
  }
  .start-btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 80vw;
    background-color: color($colors, green);
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px gray;
    font-weight: bold;
    border-radius: 1rem;
    &:active {
      background-color: darken(color($colors, green), 2%);
    }
  }
}
