<ion-header>
  <ion-navbar color="blue">
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce class="body">
  <div class="body-div">
    <span class="title">Canvas ID</span>
    <div class="id-container">
      <div class="canvas-id">{{ canvasId }}</div>
      <div class="copy-btn">
        <ion-icon name="clipboard" (click)="onCopy()"></ion-icon>
      </div>
    </div>
    <div class="start-btn" (click)="onStart()">Start Drawing</div>
  </div>
</ion-content>
