x-canvas {
  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .canvas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: lighten($color: color($colors, blue), $amount: 30%);
  }

  .canvas-bg {
    position: relative;
    background-color: white;
    transition-property: width, height;
    transition-duration: 1s;
    width: 0;
    height: 0;
  }

  .upper-canvas {
    z-index: 20;
  }

  .lower-canvas {
    z-index: 15;
  }

  .history-canvas {
    z-index: 10;
  }
}
