<div #canvasDiv class="canvas-div">
  <div #canvasBg class="canvas-bg">
    <canvas #upperCanvas [width]="canvasEditor.WIDTH" [height]="canvasEditor.HEIGHT" class="canvas upper-canvas" (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)"></canvas>
    <canvas #lowerCanvas [width]="canvasEditor.WIDTH" [height]="canvasEditor.HEIGHT" class="canvas lower-canvas"></canvas>
    <canvas #historyCanvas [width]="canvasEditor.WIDTH" [height]="canvasEditor.HEIGHT" class="canvas history-canvas"></canvas>
  </div>
</div>
