page-auth {
  $radius: 1rem;
  $line-height: 5rem;
  $font-size: 2rem;
  .title {
    padding-top: $line-height / 6;
    padding-bottom: $line-height / 6;
    color: white;
    width: 100%;
    font-size: $font-size * 2;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px gray;
  }
}
