<ion-header>
  <ion-toolbar color="blue">
    <div class="title">xCanvas</div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-blue">
  <div [ngSwitch]="mode">
    <page-login *ngSwitchCase="'login'" (modechange)="onModeChange($event)"></page-login>
    <page-signup *ngSwitchCase="'signup'" (modechange)="onModeChange($event)"></page-signup>
  </div>
</ion-content>
