<ion-header>
  <ion-toolbar color="blue">
    <div class="title">xCanvas</div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-blue">
  <ion-grid no-padding>
    <ion-row class="input-row">
      <ion-col col-8>
        <input [(ngModel)]="canvasId" class="id-input" type="number" placeholder="Canvas ID">
      </ion-col>
      <ion-col col-4>
        <button type="button" class="join-btn" (click)="joinCanvas()">Join</button>
      </ion-col>
    </ion-row>
    <ion-row class="input-row">
      <button type="button" class="create-btn" (click)="createCanvas()">Create New Canvas</button>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="canvasEditor.oldCanvas.size">
    <div class="history-title">History</div>

    <ion-grid class="history-gallery">
      <ion-row>
        <ion-col *ngFor="let id of oldCanvas" col-6 class="history-img">
          <history-img [canvasId]="id"></history-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>
