page-home {
  $radius: 1rem;
  $line-height: 5rem;
  $font-size: 2rem;
  .input-row {
    padding-top: $line-height / 3;
    padding-left: $line-height / 3;
    padding-right: $line-height / 3;
  }
  .title {
    padding-top: $line-height / 6;
    padding-bottom: $line-height / 6;
    color: white;
    width: 100%;
    font-size: $font-size * 2;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px gray;
  }
  .id-input {
    border: none;
    height: $line-height;
    width: 100%;
    font-size: $font-size;
    border-radius: $radius 0px 0px $radius;
    text-align: center;
    font-family: sans-serif;
    color: color($colors, black);
  }
  .join-btn {
    background-color: color($colors, yellow);
    width: 100%;
    height: 100%;
    color: white;
    font-size: $font-size;
    text-shadow: 1px 1px gray;
    font-weight: bold;
    border-radius: 0px $radius $radius 0px;
    &:active {
      background-color: darken(color($colors, yellow), 2%);
    }
  }
  .create-btn {
    background-color: color($colors, green);
    height: $line-height;
    width: 100%;
    border-radius: $radius;
    font-size: $font-size;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px gray;
    &:active {
      background-color: darken(color($colors, green), 2%);
    }
  }
  .history-title {
    background-color: color($colors, blue);
    border-top-width: 0.55px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.3);
    margin-top: $line-height / 3;
    padding-top: $line-height / 6;
    padding-bottom: $line-height / 4;
    color: white;
    width: 100%;
    font-size: $font-size * 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px gray;
    position: sticky;
    top: -1.1px;
    z-index: 10;
  }
  .history-gallery {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
  }
  .history-img {
    padding-top: 0px;
    padding-bottom: 5vw;
  }
}
