<ion-content>
  <div class="menu">
    <div class="color-picker">
      <div *ngFor="let color of canvasEditor.PEN_COLORS; let i = index" [style.backgroundColor]="color" (click)="canvasEditor.setPenColor(i)">
      </div>
    </div>
    <div class="width-picker">
      <div *ngFor="let width of canvasEditor.PEN_WIDTHS; let i = index" class="width" (click)="canvasEditor.setPenWidth(i)">
        <div [class.active]="canvasEditor.penWidthIdx == i" [style.width]="i * 20 + 25 + '%'"></div>
      </div>
    </div>
  </div>
</ion-content>
