page-pencil-menu {
  .menu {
    padding: 1rem;
  }
  .color-picker {
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      width: 13%;
      border-radius: 0.5rem;
    }
    div::after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  .width-picker {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .width {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      * {
        margin-top: 10%;
        margin-bottom: 10%;
        background-color: #2c3e50;
        border-radius: 50%;
        border-color: #3498db;
        border-width: 0.25rem;
      }
      *::after {
        content: '';
        display: block;
        padding-top: 100%;
      }
      .active {
        border-style: solid;
      }
    }
  }
}
