<ion-header>
  <ion-navbar color="blue">
    <ion-title (click)="rename()">{{ canvasEditor.title || 'New Canvas' }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="share()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button icon-only (click)="menu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <x-canvas [canvasId]="canvasId"></x-canvas>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tool-div">
      <div class="tool" [class.disabled]="canvasEditor.historyCount === 0" (click)="shiftHistory(-1)">
        <i class="fas fa-undo"></i>
      </div>
      <div class="tool" [class.disabled]="canvasEditor.historyCount === canvasEditor.queuedPrimitive.length" (click)="shiftHistory(1)">
        <i class="fas fa-redo"></i>
      </div>
      <div class="tool" (click)="togglePencilMenu($event)" [style.color]="canvasEditor.penColor" [class.active]="canvasEditor.activeTool === 'pen'">
        <i class="fas fa-pen"></i>
      </div>
      <div class="tool" [class.active]="canvasEditor.activeTool === 'eraser'" (click)="canvasEditor.activeTool = 'eraser'">
        <i class="fas fa-eraser"></i>
      </div>
      <div class="tool" (click)="toggleUserMenu()">
        <i class="fas fa-users"></i>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
