page-canvas {
  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: lighten($color: color($colors, blue), $amount: 30%);
  }

  .tool-div {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }

  .tool {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0rem 0.5rem;
    color: color($colors, black);
    &:active {
      color: lighten($color: color($colors, black), $amount: 20%);
    }
  }

  .tool.disabled {
    color: lighten($color: color($colors, black), $amount: 40%);
  }

  .tool.active {
    background-color: lighten($color: color($colors, black), $amount: 60%);
  }
}
