<ion-content>
  <div class="menu">
    <ion-list-header>User List</ion-list-header>
    <ion-list>
      <ion-item *ngFor="let user of users">
        <div class="container" (click)="setPainter(user)">
          <div class="name-div">{{ user.name }}</div>
          <ion-icon *ngIf="user.account === painter" name="brush" color="blue"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
