page-user-list {
  $line-height: 5rem;
  $font-size: 2rem;
  .menu {
    //padding: 1rem;
  }
  .container {
    display: flex;
  }
  .name-div {
    flex: 1;
    overflow: hidden;
  }
  .painter-icon {
    color: color($colors, blue);
  }
}
