history-img {
  .history-img {
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
    width: 42vw;
    height: 56vw;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .img-title {
    background-color: rgba(color($colors, black), 0.7);
    color: white;
    font-size: 4vw;
    text-align: center;
  }
  .mask {
    position: absolute;
    background-color: color($colors, black);
    opacity: 0;
    width: 42vw;
    height: 56vw;
    border-radius: 1rem;
    &:active {
      opacity: 0.3;
    }
  }
}
